body {
	background-color: lightgray;
	text-align: center;
	font-family: 'Sacramento';
}
h1 {
	font-size: 5rem;
	color: red;
}
h2 {
	font-size: 3rem;
	color: blue;
}
img {
	width: 15%;
}
p {
	font-size: 2rem;
	font-weight: bold;
}
.dice {
	display: inline-block;
	padding-bottom: 15px;
}